
body{

    background-color: aqua;
}
h5{

    font-size: 30px;
}


canvas{

    animation-name: canvas_example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
 }

 @keyframes canvas_example{

    from{box-shadow:5px 5px 8px red  ;}
    to{box-shadow: 5px 5px 8px blue  ;}
 }